@using BlazorApp1.Model

@code {
    [Parameter] public EnrollmentDetail Enrollment { get; set; } = new EnrollmentDetail();
}

<h5><b>Enrollment Details</b></h5>
<table class="table table-bordered">
    <tbody>
       
        <tr>
            <td style="width: 5%;">1</td>
            <td style="width: 65%;"><b>Admission Number in Present School</b></td>
            <td style="width: 30%;">@Enrollment.AdmissionNumber</td>
        </tr>
        <tr>
            <td style="width: 5%;">2</td>
            <td style="width: 65%;"><b>AdmissionDate(MM/DD/YYYY)in Present School</b></td>
            <td style="width: 30%;">@Enrollment.AdmissionDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td style="width: 5%;">3</td>
            <td style="width: 65%;"><b>Class/Section Roll No</b></td>
            <td style="width: 30%;">@Enrollment.ClassRollNo</td>
        </tr>
        <tr>
            <td style="width: 5%;">4</td>
            <td style="width: 65%;"><b>Medium of Instruction</b></td>
            <td style="width: 30%;">@(Enrollment.MediumOfInstruction ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">5</td>
            <td style="width: 65%;"><b>Languages Group Studied by the Student</b></td>
            <td style="width: 30%;">@(Enrollment.LanguagesGroupStudied ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">6</td>
            <td style="width: 65%;"><b>Academic Stream opted by the Student</b></td>
            <td style="width: 30%;">@(Enrollment.AcademicGroupStudied ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">7</td>
            <td style="width: 65%;"><b>Subjects Group Studied by the Student</b></td>
            <td style="width: 30%;">@(Enrollment.SubjectsGroupStudied ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">8</td>
            <td style="width: 65%;"><b>Status of Student in Previous Academic Year Schooling</b></td>
            <td style="width: 30%;">@(Enrollment.PreviousAcademicYear ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">9</td>
            <td style="width: 65%;"><b>Grade/Class Studied in the Previous/Last Academic Year</b></td>
            <td style="width: 30%;">@(Enrollment.StatusPreviousYear ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">10</td>
            <td style="width: 65%;"><b>Admitted/Enrolled Under(Only for pvt.Unaided)</b></td>
            <td style="width: 30%;">@(Enrollment.Admitted ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">11</td>
            <td style="width: 65%;"><b>In the Previous Class Studied-result of the examinations </b></td>
            <td style="width: 30%;">@(Enrollment.PreviousClass ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">12</td>
            <td style="width: 65%;"><b>Marks Obtained (in Percentage)</b></td>
            <td style="width: 30%;">@(Enrollment.Marks ?? "N/A")</td>
        </tr>
        <tr>
            <td style="width: 5%;">13</td>
            <td style="width: 65%;"><b>No.of days Child attended school(in the previous academic year)</b></td>
            <td style="width: 30%;">@(Enrollment.PreviousAttendance ?? "N/A")</td>
        </tr>
    </tbody>
</table>
