@using BlazorApp1.Model
@code {
    [Parameter] public StudentProfile StudentProfile { get; set; }
}

@if (StudentProfile == null)
{
    <p>No profile data available.</p>
}
else
{
   
        <h5><b>Profile Details</b></h5>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="width: 5%;">1</td>
                    <td style="width: 65%;"><b>Whether Facilities Provided to the Student(for the year of filling data)</b></td>
                    <td style="width: 30%;">@(StudentProfile.FacilitiesProvided ?? "N/A")</td>
                </tr>
                <tr>
                <td style="width: 5%;">2</td>
                    <td style="width: 65%;"><b>Facilities provided to Student in case of CWSN(for the year of filling data)</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsCWSN ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">3</td>
                    <td style="width: 65%;"><b>Whether Student has been screened for specific Learning Disability(SLD)</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsSLD ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">4</td>
                    <td style="width: 65%;"><b>SLD Type</b></td>
                    <td style="width: 30%;">@(StudentProfile.SLDType ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">5</td>
                    <td style="width: 65%;"><b>Whether Student has been screened for Autism Spectrum Disorder(ASD)</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsASD ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">6</td>
                    <td style="width: 65%;"><b>Whether Student has been screened for Attention Deficit Hyperactive Disorder(ADHD)</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsADHD ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">7</td>
                    <td style="width: 65%;"><b>Has the Student been Identified as a Gifted/Talented</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsGifted ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">8</td>
                    <td style="width: 65%;"><b>Does the student appeared in any State Level Competitions/National Level Competitions/Olympiads?</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsInStateCompetition ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">9</td>
                    <td style="width: 65%;"><b>Does the Student Participate in NCC/NSS/Scouts and Guides? </b></td>
                    <td style="width: 30%;">@(StudentProfile.IsInNCC_NSS ?? "N/A")</td>
                </tr>
                <tr>
                    <td style="width: 5%;">10</td>
                    <td style="width: 65%;"><b>Whether student is capable of handling digital devices including the internet?</b></td>
                    <td style="width: 30%;">@(StudentProfile.IsInUseInternet ?? "N/A")</td>
                </tr>

            <tr>
                <td style="width: 5%;">11</td>
                <td style="width: 65%;"><b>Student's Height(in CMs)</b></td>
                <td style="width: 30%;">@(StudentProfile.Height ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%;">12</td>
                <td style="width: 65%;"><b>Student's Weight (in KGs)</b></td>
                <td style="width: 30%;">@(StudentProfile.Weight ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%;">13</td>
                <td style="width: 65%;"><b>Approximate Distance of student's residence to school</b></td>
                <td style="width: 30%;">@(StudentProfile.Residencetoschool ?? "N/A")</td>
            </tr>
            <tr>
                <td style="width: 5%;">14</td>
                <td style="width: 65%;"><b>Completed Highest Education Level of Mother/Father/Legal Guardian</b></td>
                <td style="width: 30%;">@(StudentProfile.Educationinfamily ?? "N/A")</td>
            </tr>
            </tbody>
        </table>
    
}
