@page "/edit-full-student/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@using BlazorApp1.Model
@using System.Net.Http.Json

<h3>Edit Full Student Info</h3>

@if (fullStudent == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="fullStudent.Student" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="card p-4 mb-5 shadow-sm rounded-2xl">
            <h4 class="mb-4">Student Details</h4>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="RollNumber">Roll Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.RollNumber)" />
                    <InputText id="RollNumber" @bind-Value="fullStudent.Student.RollNumber" placeholder="Roll Number" class="form-control " />

                </div>

                <div class="col-md-3">
                    <label for="StudentName">Student Name</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Name)" />
                    <InputText id="StudentName" @bind-Value="fullStudent.Student.Name" placeholder="Name" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="Gender">Gender</label>
                    <InputText @bind-Value="fullStudent.Student.Gender" placeholder="Gender" class="form-control" />
                </div>


                <div class="col-md-3">
                    <label for="DateOfBirth">Date of Birth</label>
                    <ValidationMessage For="@(() => fullStudent.Student.DateOfBirth)" />
                    <InputDate id="DateOfBirth" @bind-Value="fullStudent.Student.DateOfBirth" class="form-control " />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="MobileNumber">Mobile Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.MobileNumber)" />
                    <InputText @bind-Value="fullStudent.Student.MobileNumber" placeholder="Mobile Number" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="AlternateMobileNumber">Alternate Mobile Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.AlternateMobileNumber)" />
                    <InputText @bind-Value="fullStudent.Student.AlternateMobileNumber" placeholder="Alternate Mobile" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="Email">Email</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Email)" />
                    <InputText @bind-Value="fullStudent.Student.Email" placeholder="Email" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="PermanentEducationNumber">Permanent Education Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.PermanentEducationNumber)" />
                    <InputText @bind-Value="fullStudent.Student.PermanentEducationNumber" placeholder="PEN" class="form-control" />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="MotherName">Mother's Name</label>
                    <ValidationMessage For="@(() => fullStudent.Student.MotherName)" />
                    <InputText @bind-Value="fullStudent.Student.MotherName" placeholder="Mother's Name" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="FatherName">Father's Name</label>
                    <ValidationMessage For="@(() => fullStudent.Student.FatherName)" />
                    <InputText @bind-Value="fullStudent.Student.FatherName" placeholder="Father's Name" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="GuardianName">Guardian's Name</label>
                    <ValidationMessage For="@(() => fullStudent.Student.GuardianName)" />
                    <InputText @bind-Value="fullStudent.Student.GuardianName" placeholder="Guardian's Name" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="AadharNumber">Aadhar Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.AadharNumber)" />
                    <InputText @bind-Value="fullStudent.Student.AadharNumber" placeholder="Aadhar Number" class="form-control" />
                </div>
            </div>


            <div class="row g-3">
                <div class="col-md-3">
                    <label for="NameOnAadhar">Name on Aadhar</label>
                    <ValidationMessage For="@(() => fullStudent.Student.NameOnAadhar)" />
                    <InputText @bind-Value="fullStudent.Student.NameOnAadhar" placeholder="Name on Aadhar" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="BloodGroup">BloodGroup</label>
                    <InputText @bind-Value="fullStudent.Student.BloodGroup" placeholder="Blood Group" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="Address">Address</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Address)" />
                    <InputText @bind-Value="fullStudent.Student.Address" placeholder="Address" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="Pincode">Pincode</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Pincode)" />
                    <InputText @bind-Value="fullStudent.Student.Pincode" placeholder="Pincode" class="form-control" />
                </div>
            </div>
            <div class="row g-3">

                <div class="col-md-3">
                    <label for="MotherTongue">Mother Tongue</label>
                    <ValidationMessage For="@(() => fullStudent.Student.MotherTongue)" />
                    <InputText @bind-Value="fullStudent.Student.MotherTongue" placeholder="Mother Tongue" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="SocialCategory">Social Category</label>
                    <ValidationMessage For="@(() => fullStudent.Student.SocialCategory)" />
                    <InputText @bind-Value="fullStudent.Student.SocialCategory" placeholder="Social Category" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="MinorityGroup">Minority Group</label>
                    <ValidationMessage For="@(() => fullStudent.Student.MinorityGroup)" />
                    <InputText @bind-Value="fullStudent.Student.MinorityGroup" placeholder="Minority Group" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="IsBPLBeneficiary">Is BPL Beneficiary</label>
                    <ValidationMessage For="@(() => fullStudent.Student.IsBPLBeneficiary)" />
                    <InputText @bind-Value="fullStudent.Student.IsBPLBeneficiary" placeholder="Is BPL Beneficiary" class="form-control " />
                </div>
            </div>


            <div class="row g-3">
                <div class="col-md-3">
                    <label for="IsAAYBeneficiary">Is AAY Beneficiary</label>
                    <ValidationMessage For="@(() => fullStudent.Student.IsAAYBeneficiary)" />
                    <InputText @bind-Value="fullStudent.Student.IsAAYBeneficiary" placeholder="Is AAY Beneficiary" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="IsEWS">Is EWS</label>
                    <ValidationMessage For="@(() => fullStudent.Student.IsEWS)" />
                    <InputText @bind-Value="fullStudent.Student.IsEWS" placeholder="Is EWS" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="IsCWSN">Is CWSN</label>
                    <ValidationMessage For="@(() => fullStudent.Student.IsCWSN)" />
                    <InputText @bind-Value="fullStudent.Student.IsCWSN" placeholder="Is CWSN" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="TypeOfImpairment">Type of Impairment</label>
                    <ValidationMessage For="@(() => fullStudent.Student.TypeOfImpairment)" />
                    <InputText @bind-Value="fullStudent.Student.TypeOfImpairment" placeholder="Type of Impairment" class="form-control " />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="IsIndian">Is Indian</label>
                    <ValidationMessage For="@(() => fullStudent.Student.IsIndian)" />
                    <InputText @bind-Value="fullStudent.Student.IsIndian" placeholder="Is Indian" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="IsOutOfSchool">Is Out Of School</label>
                    <ValidationMessage For="@(() => fullStudent.Student.IsOutOfSchool)" />
                    <InputText @bind-Value="fullStudent.Student.IsOutOfSchool" placeholder="Is Out Of School" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="HasDisabilityCertificate">Has Disability Certificate</label>
                    <ValidationMessage For="@(() => fullStudent.Student.HasDisabilityCertificate)" />
                    <InputText @bind-Value="fullStudent.Student.HasDisabilityCertificate" placeholder="Has Disability Certificate" class="form-control " />
                </div>

                <div class="col-md-3">
                    <label for="DisabilityPercentage">Disability Percentage</label>
                    <ValidationMessage For="@(() => fullStudent.Student.DisabilityPercentage)" />
                    <InputNumber @bind-Value="fullStudent.Student.DisabilityPercentage" class="form-control " />
                </div>
            </div>




        </div>


        <div class="card p-4 mb-4 shadow-sm rounded-2xl">
            <h4 class="mb-4">Profile Details</h4>
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="StudentName">Student Name</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.StudentName)" />
                    <InputText id="StudentName" @bind-Value="fullStudent.Student.Profile.StudentName" placeholder="Enter Student Name" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="FacilitiesProvided">Facilities Provided</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.FacilitiesProvided)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.FacilitiesProvided" placeholder="Enter Facilities Provided" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsCWSN">Is CWSN</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsCWSN)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsCWSN" placeholder="Enter CWSN Status" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsSLD">Is SLD</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsSLD)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsSLD" placeholder="Enter SLD Status" class="form-control " />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="SLDType">SLD Type</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.SLDType)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.SLDType" placeholder="Enter SLD Type" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsASD">Is ASD</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsASD)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsASD" placeholder="Enter ASD Status" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsADHD">Is ADHD</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsADHD)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsADHD" placeholder="Enter ADHD Status" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsGifted">Is Gifted</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsGifted)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsGifted" placeholder="Enter Gifted Status" class="form-control " />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="IsInStateCompetition">In State Competition</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsInStateCompetition)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsInStateCompetition" placeholder="Enter State Competition Status" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsInNCC_NSS">In NCC/NSS</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsInNCC_NSS)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsInNCC_NSS" placeholder="Enter NCC/NSS Status" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="IsInUseInternet">Uses Internet</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.IsInUseInternet)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.IsInUseInternet" placeholder="Enter Internet Usage Status" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="Height">Height</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.Height)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.Height" placeholder="Enter Height" class="form-control " />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="Weight">Weight</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.Weight)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.Weight" placeholder="Enter Weight" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="Residencetoschool">Residence to School Distance</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.Residencetoschool)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.Residencetoschool" placeholder="Enter Residence to School Distance" class="form-control " />
                </div>
                <div class="col-md-3">
                    <label for="Educationinfamily">Education in Family</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Profile.Educationinfamily)" />
                    <InputText @bind-Value="fullStudent.Student.Profile.Educationinfamily" placeholder="Enter Education in Family Status" class="form-control " />
                </div>
                <!-- Add more fields here if needed to complete the row -->
            </div>

        </div>

        <div class="card p-4 mb-4 shadow-sm rounded-2xl">
            <h4 class="mb-4">Enrollment Details</h4>
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="AdmissionNumber">Admission Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.AdmissionNumber)" />
                    <InputNumber id="AdmissionNumber" class="form-control " @bind-Value="fullStudent.Student.Enrollment.AdmissionNumber" placeholder="Admission Number" />
                </div>
                <div class="col-md-3">
                    <label for="AdmissionDate">Admission Date</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.AdmissionDate)" />
                    <InputDate class="form-control " id="AdmissionDate" @bind-Value="fullStudent.Student.Enrollment.AdmissionDate" placeholder="Select Admission Date" />
                </div>
                <div class="col-md-3">
                    <label for="ClassRollNo">Class Roll Number</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.ClassRollNo)" />
                    <InputNumber class="form-control " id="ClassRollNo" @bind-Value="fullStudent.Student.Enrollment.ClassRollNo" placeholder="Class Roll Number" />
                </div>
                <div class="col-md-3">
                    <label for="MediumOfInstruction">Medium Of Instruction</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.MediumOfInstruction)" />
                    <InputText class="form-control " id="MediumOfInstruction" @bind-Value="fullStudent.Student.Enrollment.MediumOfInstruction" placeholder="Medium Of Instruction" />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="LanguagesGroupStudied">Languages Group Studied</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.LanguagesGroupStudied)" />
                    <InputText class="form-control " id="LanguagesGroupStudied" @bind-Value="fullStudent.Student.Enrollment.LanguagesGroupStudied" placeholder="Languages Group Studied" />
                </div>
                <div class="col-md-3">
                    <label for="AcademicGroupStudied">Academic Group Studied</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.AcademicGroupStudied)" />
                    <InputText class="form-control " id="AcademicGroupStudied" @bind-Value="fullStudent.Student.Enrollment.AcademicGroupStudied" placeholder="Academic Group Studied" />
                </div>
                <div class="col-md-3">
                    <label for="SubjectsGroupStudied">Subjects Group Studied</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.SubjectsGroupStudied)" />
                    <InputText class="form-control" id="SubjectsGroupStudied" @bind-Value="fullStudent.Student.Enrollment.SubjectsGroupStudied" placeholder="Subjects Group Studied" />
                </div>
                <div class="col-md-3">
                    <label for="PreviousAcademicYear">Previous Academic Year</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.PreviousAcademicYear)" />
                    <InputText class="form-control " id="PreviousAcademicYear" @bind-Value="fullStudent.Student.Enrollment.PreviousAcademicYear" placeholder="Previous Academic Year" />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="StatusPreviousYear">Status Previous Year</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.StatusPreviousYear)" />
                    <InputText class="form-control " id="StatusPreviousYear" @bind-Value="fullStudent.Student.Enrollment.StatusPreviousYear" placeholder="Status Previous Year" />
                </div>
                <div class="col-md-3">
                    <label for="Admitted">Admitted</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.Admitted)" />
                    <InputText class="form-control " id="Admitted" @bind-Value="fullStudent.Student.Enrollment.Admitted" placeholder="Admitted" />
                </div>
                <div class="col-md-3">
                    <label for="PreviousClass">Previous Class</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.PreviousClass)" />
                    <InputText class="form-control " id="PreviousClass" @bind-Value="fullStudent.Student.Enrollment.PreviousClass" placeholder="Previous Class" />
                </div>
                <div class="col-md-3">
                    <label for="Marks">Marks</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.Marks)" />
                    <InputText class="form-control " id="Marks" @bind-Value="fullStudent.Student.Enrollment.Marks" placeholder="Marks" />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-3">
                    <label for="PreviousAttendance">Previous Attendance</label>
                    <ValidationMessage For="@(() => fullStudent.Student.Enrollment.PreviousAttendance)" />
                    <InputText class="form-control " id="PreviousAttendance" @bind-Value="fullStudent.Student.Enrollment.PreviousAttendance" placeholder="Previous Attendance" />
                </div>
            </div>

        </div>

        <button class="btn btn-primary mt-3" type="submit">Update</button>
    </EditForm>
}
@code {
    [Parameter] public int id { get; set; }
    private FullStudentInfo? fullStudent;

    protected override async Task OnInitializedAsync()
    {
        fullStudent = await Http.GetFromJsonAsync<FullStudentInfo>($"api/students/fullview/{id}");
    }

    private async Task HandleValidSubmit()
    {
        var response = await Http.PutAsJsonAsync($"api/students/{id}", fullStudent);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/students-list");
        }
        else
        {
            // Optional: Show error
        }
    }
}
